/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 */

$fs-md: (
  null: (15px,1.4),
  sm:   (15px,1.4),
  md:   (15px,1.4),
  lg:   (15px,1.4)  
);